CREATE DATABASE [EmlakDB]
GO

USE [EmlakDB]
GO
/****** Object:  Table [dbo].[bolge_altyapi_imar]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bolge_altyapi_imar](
	[alt_yapi_id] [int] IDENTITY(1,1) NOT NULL,
	[bolge_id] [int] NOT NULL,
	[veri_toplama_tarihi] [date] NOT NULL,
	[sorumlu_kurum] [nvarchar](100) NOT NULL,
	[imar_tipi_id] [int] NOT NULL,
	[max_kat_izni] [int] NULL,
	[emsal_degeri] [decimal](5, 2) NULL,
	[max_yapilasma_yuzdesi] [decimal](5, 2) NULL,
	[imar_durumu_belge_url] [nvarchar](250) NULL,
	[deprem_riski_seviye_id] [int] NOT NULL,
	[zemin_musaitligi] [bit] NOT NULL,
	[sel_riski_var_mi] [bit] NOT NULL,
	[dogalgaz_erisimi] [bit] NOT NULL,
	[internet_erisimi] [bit] NOT NULL,
	[kanalizasyon_baglanti] [bit] NOT NULL,
	[ulasim_erisimi] [bit] NOT NULL,
	[ort_birim_kira_bedeli] [decimal](18, 2) NULL,
	[gelisme_potansiyel_notu] [int] NOT NULL,
	[son_imar_degisiklik_tarihi] [date] NOT NULL,
	[aktif] [bit] NOT NULL,
	[elektrik_altyapisi] [varchar](50) NULL,
	[su_altyapisi] [varchar](50) NULL,
	[yol_durumu] [varchar](50) NULL,
	[sokak_aydinlatmasi] [bit] NULL,
	[toplu_tasima_yakinlik] [int] NULL,
	[belediye_hizmet_puani] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[alt_yapi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emlak_ofisi]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emlak_ofisi](
	[ofis_id] [int] IDENTITY(1,1) NOT NULL,
	[yetkili_id] [varchar](100) NOT NULL,
	[telefon] [varchar](20) NOT NULL,
	[e_mail] [varchar](100) NOT NULL,
	[adres] [varchar](255) NOT NULL,
	[sehir] [varchar](50) NOT NULL,
	[ilce] [varchar](50) NOT NULL,
	[posta_kodu] [char](5) NULL,
	[kurulus_tarihi] [date] NULL,
	[calisan_sayisi] [int] NULL,
	[lisans_no] [varchar](50) NOT NULL,
	[hizmet_alani] [varchar](100) NULL,
	[aktif_mi] [bit] NOT NULL,
	[toplam_portfoy] [int] NULL,
	[satis_adeti_yillik] [int] NULL,
	[kiralama_adeti_yillik] [int] NULL,
	[web_sitesi] [varchar](100) NULL,
	[sosyal_medya_linki] [varchar](255) NULL,
	[notlar] [nvarchar](255) NULL,
	[EkAlan_1] [nvarchar](100) NULL,
	[olusturan_kullanici] [nvarchar](50) NULL,
	[olusturma_tarihi] [datetime] NULL,
	[guncelleyen_kullanici] [nvarchar](50) NULL,
	[guncelleme_tarihi] [datetime] NULL,
	[silindi_mi] [bit] NULL,
	[silinme_tarihi] [datetime] NULL,
	[kaynak_ip] [varchar](20) NULL,
	[cihaz_bilgisi] [nvarchar](100) NULL,
	[yedek_alan_1] [nvarchar](50) NULL,
	[yedek_alan_2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ofis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ofis_Email] UNIQUE NONCLUSTERED 
(
	[e_mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emlakci]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emlakci](
	[emlakci_id] [int] IDENTITY(1,1) NOT NULL,
	[ofis_id] [int] NOT NULL,
	[ad_soyad] [nvarchar](100) NULL,
	[telefon] [varchar](20) NULL,
	[e_mail] [varchar](100) NULL,
	[tc_kimlik_no] [varchar](11) NULL,
	[uzmanlik_bolge] [nvarchar](100) NULL,
	[uzmanlik_emlak_turu] [nvarchar](50) NULL,
	[deneyim_yili] [int] NOT NULL,
	[portfoy_sayisi] [int] NOT NULL,
	[aktif_portfoy_sayisi] [int] NOT NULL,
	[toplam_satis_adeti] [int] NOT NULL,
	[toplam_kiralama_adeti] [int] NOT NULL,
	[ort_satis_suresi] [int] NULL,
	[komisyon_orani] [decimal](18, 0) NULL,
	[puanlama] [decimal](5, 2) NULL,
	[durum] [bit] NOT NULL,
	[kayit_tarihi] [datetime] NOT NULL,
	[aciklama] [nvarchar](400) NULL,
	[dogum_tarihi] [date] NULL,
	[cinsiyet] [char](1) NULL,
	[ev_adresi] [nvarchar](250) NULL,
	[acil_durum_no] [varchar](15) NULL,
	[ise_giris_tarihi] [date] NULL,
	[isten_cikis_tarihi] [date] NULL,
	[son_giris_ip] [varchar](20) NULL,
	[sistem_kullanici_adi] [varchar](50) NULL,
	[profil_resmi_url] [nvarchar](250) NULL,
	[yedek_sayisal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[emlakci_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Emlakci_Email] UNIQUE NONCLUSTERED 
(
	[e_mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favori_ilan]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favori_ilan](
	[favori_id] [int] IDENTITY(1,1) NOT NULL,
	[musteri_id] [int] NOT NULL,
	[ilan_id] [int] NOT NULL,
	[eklenme_tarihi] [datetime] NOT NULL,
	[bildirim_gonderildi_mi] [tinyint] NOT NULL,
	[bildirim_tarihi] [datetime] NULL,
	[fiyat_degisiklik_sayisi] [int] NOT NULL,
	[ilk_favori_fiyati] [decimal](18, 2) NULL,
	[son_guncel_fiyat] [decimal](18, 2) NULL,
	[not_ekledi_mi] [tinyint] NOT NULL,
	[musteri_notu] [varchar](500) NULL,
	[favori_durumu] [varchar](20) NOT NULL,
	[favori_kaynak] [varchar](30) NULL,
	[goruntuleme_sayisi] [int] NOT NULL,
	[son_goruntuleme_tarihi] [datetime] NOT NULL,
	[fiyat_dustu_mu] [tinyint] NOT NULL,
	[fiyat_dusme_orani] [decimal](5, 2) NULL,
	[silindi_mi] [tinyint] NOT NULL,
	[silinme_tarihi] [datetime] NULL,
	[aciklama] [nvarchar](500) NULL,
	[ip_adresi] [varchar](20) NULL,
	[cihaz_turu] [varchar](50) NULL,
	[tarayici_bilgisi] [nvarchar](100) NULL,
	[session_id] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[favori_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hukuki_belge]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hukuki_belge](
	[belge_id] [int] IDENTITY(1,1) NOT NULL,
	[mulk_id] [int] NOT NULL,
	[belge_tipi_id] [int] NOT NULL,
	[yukleyen_emlakci_id] [int] NOT NULL,
	[belge_durumu_id] [int] NOT NULL,
	[son_tarihi] [date] NOT NULL,
	[hukuki_uygunluk] [bit] NOT NULL,
	[acil_eylem_gerekiyor_mu] [bit] NOT NULL,
	[duzenleme_tarihi] [date] NULL,
	[gecerlilik_bitis_tarihi] [date] NOT NULL,
	[bitis_uyarı_gunu] [int] NULL,
	[belge_no] [nvarchar](100) NOT NULL,
	[veren_resmi_kurum] [nvarchar](150) NULL,
	[hukuk_notu] [nvarchar](500) NULL,
	[iptal_sebebi] [nvarchar](250) NULL,
	[dosya_url] [nvarchar](250) NULL,
	[arsiv_klasor_no] [nvarchar](50) NULL,
	[olusturma_tarihi] [datetime] NOT NULL,
	[son_guncelleme_tarihi] [datetime] NOT NULL,
	[aktif_mi] [bit] NOT NULL,
	[belge_boyutu_kb] [int] NULL,
	[belge_formatı] [varchar](10) NULL,
	[imzalayan_yetkili] [nvarchar](50) NULL,
	[noter_tasdikli_mi] [bit] NULL,
	[orijinal_kopya_nerede] [nvarchar](100) NULL,
	[erisim_seviyesi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[belge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ilan]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilan](
	[ilan_id] [int] IDENTITY(1,1) NOT NULL,
	[ilan_baslik] [varchar](150) NOT NULL,
	[sehir] [varchar](50) NOT NULL,
	[ilce] [varchar](50) NOT NULL,
	[fiyat] [decimal](18, 0) NOT NULL,
	[metrekare] [tinyint] NOT NULL,
	[oda_sayisi] [varchar](10) NOT NULL,
	[emlak_turu] [varchar](50) NOT NULL,
	[eklenme_tarihi] [datetime] NOT NULL,
	[satilik_mi] [tinyint] NOT NULL,
	[yapildigi_yil] [date] NULL,
	[mahalle] [varchar](50) NULL,
	[posta_kodu] [varchar](10) NULL,
	[bina_yasi] [int] NULL,
	[bulundugu_kat] [int] NULL,
	[toplam_kat] [int] NULL,
	[isitma_tipi] [varchar](30) NULL,
	[esyali_mi] [tinyint] NOT NULL,
	[krediye_uygun_mu] [tinyint] NOT NULL,
	[aciklama] [varchar](500) NULL,
	[satici_id] [int] NULL,
	[ilan_no] [varchar](10) NULL,
	[banyo_sayisi] [varchar](5) NULL,
	[mutfak_acik_mi] [tinyint] NULL,
	[balkon_var_mi] [tinyint] NOT NULL,
	[asansor_var_mi] [tinyint] NOT NULL,
	[otopark_var_mi] [tinyint] NOT NULL,
	[site_icinde_mi] [tinyint] NOT NULL,
	[takas_var_mi] [tinyint] NOT NULL,
	[ilan_turu] [nvarchar](50) NOT NULL,
	[goruntulenme_sayisi] [int] NULL,
	[favori_sayisi] [int] NULL,
	[vitrin_durumu] [bit] NULL,
	[yayindan_kaldirilma_tarihi] [datetime] NULL,
	[yayindan_kaldirma_nedeni] [nvarchar](100) NULL,
	[son_fiyat_guncelleme] [datetime] NULL,
	[eski_fiyat] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ilan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ilan_fotograf]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilan_fotograf](
	[fotograf_id] [int] IDENTITY(1,1) NOT NULL,
	[ilan_id] [int] NOT NULL,
	[yukleyen_emlakci_id] [int] NOT NULL,
	[yuklenme_tarihi] [datetime] NOT NULL,
	[dosya_url] [nvarchar](250) NOT NULL,
	[dosya_adi] [nvarchar](100) NULL,
	[dosya_boyutu] [int] NOT NULL,
	[genislik] [int] NOT NULL,
	[yukseklik] [int] NOT NULL,
	[siralama_onceligi] [int] NOT NULL,
	[kapak_fotografi_mi] [bit] NOT NULL,
	[cozunurluk_tipi] [nvarchar](50) NOT NULL,
	[cekim_aciklamasi] [nvarchar](150) NULL,
	[kalite_puani] [int] NOT NULL,
	[onay_durumu] [bit] NOT NULL,
	[telif_hakki_durumu] [nvarchar](100) NULL,
	[cekim_tarihi] [date] NOT NULL,
	[goruntuleme_sayisi] [int] NOT NULL,
	[ana_renk_kodu] [nvarchar](10) NULL,
	[aktif] [bit] NOT NULL,
	[etiketler] [nvarchar](200) NULL,
	[konum_etiketi] [nvarchar](50) NULL,
	[kamera_modeli] [nvarchar](50) NULL,
	[duzenleme_yapildi_mi] [bit] NULL,
	[arsiv_klasoru] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[fotograf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ilan_konum]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilan_konum](
	[cografi_id] [int] IDENTITY(1,1) NOT NULL,
	[il_id] [int] NULL,
	[ilce_id] [int] NULL,
	[semt_ad] [nvarchar](100) NULL,
	[mahalle_ad] [nvarchar](100) NULL,
	[posta_kodu] [char](5) NULL,
	[ortalama_m2_fiyat] [money] NULL,
	[ilan_sayisi] [bigint] NULL,
	[ort_satis_suresi_gun] [int] NULL,
	[durum] [bit] NOT NULL,
	[olusturma_tarihi] [datetime] NOT NULL,
	[guncelleme_tarihi] [datetime] NOT NULL,
	[olusturan_kullanici] [int] NULL,
	[yorum_notu] [nvarchar](max) NULL,
	[aktif_ilan_sayisi] [int] NULL,
	[ulasim_imkanlari] [nvarchar](255) NULL,
	[ort_okul_puanlari] [decimal](3, 1) NULL,
	[deprem_riski_seviyesi] [int] NULL,
	[sehir_nufusu] [int] NULL,
	[ilce_nufusu] [int] NULL,
	[ort_gelir_duzeyi] [decimal](10, 2) NULL,
	[arsa_deger_endeksi] [decimal](10, 2) NULL,
	[guvenlik_puani] [tinyint] NULL,
	[metroya_mesafe] [int] NULL,
	[hastaneye_mesafe] [int] NULL,
	[avmye_mesafe] [int] NULL,
	[koordinat_lat] [decimal](9, 6) NULL,
	[koordinat_long] [decimal](9, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[cografi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ilan_ozellik]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilan_ozellik](
	[ozellik_id] [int] IDENTITY(1,1) NOT NULL,
	[ilan_id] [int] NOT NULL,
	[banyo_sayisi] [int] NULL,
	[balkon_sayisi] [int] NULL,
	[wc_sayisi] [int] NULL,
	[isitma_tipi] [varchar](50) NULL,
	[manzara_turu] [varchar](50) NULL,
	[asansor_var_mi] [tinyint] NOT NULL,
	[otopark_var_mi] [tinyint] NOT NULL,
	[esyali_mi] [tinyint] NOT NULL,
	[site_icinde_mi] [tinyint] NOT NULL,
	[guvenlik_var_mi] [tinyint] NOT NULL,
	[aidat_tutarı] [decimal](18, 2) NULL,
	[zemin_kat_mi] [tinyint] NOT NULL,
	[yuksek_giris_mi] [tinyint] NOT NULL,
	[bulundugu_kat] [int] NOT NULL,
	[kat_sayisi] [int] NOT NULL,
	[peyzaj_var_mi] [tinyint] NOT NULL,
	[internet_altyapisi] [varchar](50) NULL,
	[oda_sayisi] [int] NOT NULL,
	[salon_sayisi] [int] NOT NULL,
	[aciklama] [varchar](500) NULL,
	[emlak_tipi] [nvarchar](10) NULL,
	[metrekare] [int] NOT NULL,
	[bina_yasi] [int] NOT NULL,
	[tapu_durumu] [nvarchar](50) NULL,
	[cephe] [varchar](20) NULL,
	[kullanim_durumu] [varchar](20) NULL,
	[yapi_durumu] [varchar](20) NULL,
	[takas_secenegi] [nvarchar](100) NULL,
	[krediye_uygunluk_detay] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ozellik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ilan_satilik_arsiv]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilan_satilik_arsiv](
	[arsiv_id] [int] IDENTITY(1,1) NOT NULL,
	[ilan_id] [int] NOT NULL,
	[ilan_baslik] [varchar](150) NOT NULL,
	[sehir] [varchar](50) NOT NULL,
	[ilce] [varchar](50) NOT NULL,
	[fiyat] [decimal](18, 0) NOT NULL,
	[satilik_mi] [tinyint] NOT NULL,
	[EkAlan_1] [nvarchar](100) NULL,
	[arsivlenme_tarihi] [datetime] NULL,
	[arsivleyen_kullanici] [nvarchar](50) NULL,
	[arsiv_nedeni] [nvarchar](100) NULL,
	[satis_fiyati_son] [decimal](18, 2) NULL,
	[kac_gun_yayinda_kaldi] [int] NULL,
	[toplam_goruntulenme] [int] NULL,
	[toplam_favori] [int] NULL,
	[notlar] [nvarchar](max) NULL,
	[geri_yuklenme_tarihi] [datetime] NULL,
	[yedek_kod_1] [varchar](50) NULL,
	[yedek_kod_2] [varchar](50) NULL,
	[yedek_kod_3] [varchar](50) NULL,
	[yedek_kod_4] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[arsiv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[komisyon_kayit]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[komisyon_kayit](
	[komisyon_id] [int] IDENTITY(1,1) NOT NULL,
	[islem_id] [int] NOT NULL,
	[emlakci_id] [int] NOT NULL,
	[komisyon_orani] [decimal](5, 2) NOT NULL,
	[komisyon_tutari] [decimal](18, 2) NOT NULL,
	[komisyon_turu] [varchar](30) NOT NULL,
	[odeme_durumu] [varchar](20) NOT NULL,
	[odeme_tarihi] [datetime] NULL,
	[vade_tarihi] [datetime] NULL,
	[odeme_kanali] [varchar](30) NULL,
	[banka_adi] [varchar](100) NULL,
	[iban] [varchar](34) NULL,
	[kesinti_tutari] [decimal](18, 2) NULL,
	[net_odeme_tutari] [decimal](18, 2) NULL,
	[aciklama] [nvarchar](500) NULL,
	[olusturma_tarihi] [datetime] NOT NULL,
	[guncelleme_tarihi] [datetime] NULL,
	[odeme_kodu] [varchar](50) NULL,
	[makbuz_url] [varchar](255) NULL,
	[aktif_mi] [bit] NOT NULL,
	[para_birimi] [varchar](10) NOT NULL,
	[onaylayan_yonetici] [nvarchar](50) NULL,
	[onay_tarihi] [datetime] NULL,
	[prim_hesaplamasi] [bit] NULL,
	[ofis_payi] [decimal](18, 2) NULL,
	[danisman_payi] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[komisyon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesaj_soru]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesaj_soru](
	[mesaj_id] [int] IDENTITY(1,1) NOT NULL,
	[ilan_id] [int] NOT NULL,
	[musteri_id] [int] NOT NULL,
	[emlakci_id] [int] NULL,
	[gonderen_tipi] [varchar](20) NOT NULL,
	[mesaj_metni] [nvarchar](500) NOT NULL,
	[mesaj_tarihi] [datetime] NOT NULL,
	[cevap_mi] [bit] NOT NULL,
	[cevaplanan_mesaj_id] [int] NULL,
	[okundu_mu] [bit] NOT NULL,
	[okuma_tarihi] [datetime] NULL,
	[iletisim_kanali] [varchar](30) NULL,
	[mesaj_konusu] [nvarchar](100) NULL,
	[dosya_ek_url] [varchar](255) NULL,
	[ip_adresi] [varchar](50) NULL,
	[cihaz_tipi] [varchar](50) NULL,
	[oncelik_durumu] [varchar](20) NULL,
	[durum] [varchar](20) NOT NULL,
	[guncelleme_tarihi] [datetime] NOT NULL,
	[aciklama] [nvarchar](300) NULL,
	[spam_mi] [bit] NULL,
	[otomatik_cevap_mi] [bit] NULL,
	[dil] [varchar](10) NULL,
	[etiketler] [nvarchar](100) NULL,
	[atanan_personel_id] [int] NULL,
	[cozum_suresi_dk] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mesaj_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mulk_bakim_tadilat]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mulk_bakim_tadilat](
	[bakim_kayit_id] [int] IDENTITY(1,1) NOT NULL,
	[mulk_id] [int] NOT NULL,
	[islem_tipi_id] [int] NOT NULL,
	[sorumlu_emlakci_id] [int] NOT NULL,
	[talep_tarihi] [date] NOT NULL,
	[baslangic_tarihi] [date] NULL,
	[bitis_tarihi] [date] NULL,
	[durum_id] [int] NOT NULL,
	[garanti_bitis_tarihi] [date] NULL,
	[tahmini_maliyet] [bigint] NOT NULL,
	[gercek_maliyet] [bigint] NOT NULL,
	[kdv_orani] [decimal](18, 2) NOT NULL,
	[odeme_durumu] [int] NOT NULL,
	[fatura_numarası] [nvarchar](50) NULL,
	[aciklama] [nvarchar](500) NOT NULL,
	[sorun_belgesi] [nvarchar](150) NULL,
	[hizmet_saglayici_firma] [nvarchar](200) NULL,
	[firma_no] [nvarchar](11) NULL,
	[mulk_sahibi_onayi] [bit] NOT NULL,
	[musteri_notu] [int] NULL,
	[kullanilan_malzeme] [nvarchar](250) NULL,
	[usta_adi] [nvarchar](50) NULL,
	[usta_tel] [varchar](15) NULL,
	[memnuniyet_puani] [int] NULL,
	[tekrar_bakim_gerekir_mi] [bit] NULL,
	[sonraki_bakim_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[bakim_kayit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mulk_sahibi]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mulk_sahibi](
	[mülk_sahibi_id] [int] IDENTITY(1,1) NOT NULL,
	[ad_soyad] [nvarchar](100) NOT NULL,
	[telefon] [varchar](20) NOT NULL,
	[e_mail] [varchar](100) NOT NULL,
	[sehir] [nvarchar](50) NOT NULL,
	[ilce] [nvarchar](50) NOT NULL,
	[adres] [nvarchar](255) NULL,
	[tc_kimlik_no] [varchar](11) NULL,
	[vergi_no] [varchar](20) NULL,
	[dogum_tarihi] [date] NULL,
	[cinsiyet] [char](1) NULL,
	[kayit_tarihi] [datetime] NOT NULL,
	[aktif_mi] [bit] NOT NULL,
	[uye_turu] [nvarchar](20) NOT NULL,
	[notlar] [nvarchar](500) NULL,
	[son_giris_tarihi] [datetime] NULL,
	[kayit_kaynak] [nvarchar](50) NULL,
	[toplam_ilan_sayisi] [int] NOT NULL,
	[kara_liste_mi] [bit] NOT NULL,
	[puanlama] [decimal](5, 2) NULL,
	[banka_adi] [nvarchar](50) NULL,
	[iban_no] [varchar](30) NULL,
	[vekalet_var_mi] [bit] NULL,
	[vekalet_kime_ait] [nvarchar](100) NULL,
	[yurtdisi_ikamet] [bit] NULL,
	[pasaport_no] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[mülk_sahibi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteri]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteri](
	[müsteri_id] [int] IDENTITY(1,1) NOT NULL,
	[ad_soyad] [nvarchar](100) NOT NULL,
	[telefon] [varchar](15) NOT NULL,
	[e_mail] [varchar](100) NOT NULL,
	[tc_kimlik_no] [varchar](11) NULL,
	[dogum_tarihi] [date] NULL,
	[cinsiyet] [char](1) NULL,
	[sehir] [varchar](50) NULL,
	[ilce] [varchar](50) NULL,
	[adres] [varchar](255) NULL,
	[tercih_edilen_emlak_turu] [varchar](50) NULL,
	[butce_min] [decimal](18, 2) NULL,
	[butce_max] [decimal](18, 2) NULL,
	[kredi_durumu] [tinyint] NOT NULL,
	[kayit_tarihi] [datetime] NOT NULL,
	[satilik_mi_istiyor] [tinyint] NOT NULL,
	[son_giris_tarihi] [datetime] NULL,
	[aktif_mi] [tinyint] NOT NULL,
	[notlar] [varchar](500) NULL,
	[musteri_tipi] [varchar](20) NOT NULL,
	[meslek] [nvarchar](50) NULL,
	[medeni_durum] [nvarchar](20) NULL,
	[cocuk_sayisi] [int] NULL,
	[is_adresi] [nvarchar](250) NULL,
	[kvkk_onayi] [bit] NULL,
	[sms_izin] [bit] NULL,
	[mail_izin] [bit] NULL,
	[referans_kaynak] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[müsteri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Musteri_Email] UNIQUE NONCLUSTERED 
(
	[e_mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[odeme]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odeme](
	[odeme_id] [int] IDENTITY(1,1) NOT NULL,
	[islem_id] [int] NOT NULL,
	[musteri_id] [int] NOT NULL,
	[emlakci_id] [int] NOT NULL,
	[odeme_tarihi] [date] NOT NULL,
	[odeme_tutari] [bigint] NOT NULL,
	[para_birimi] [money] NOT NULL,
	[odeme_tipi] [varchar](20) NOT NULL,
	[odeme_kanali] [varchar](30) NOT NULL,
	[taksit_no] [int] NOT NULL,
	[toplam_taksit_sayisi] [int] NOT NULL,
	[odeme_durumu] [varchar](20) NOT NULL,
	[dekont_no] [varchar](50) NOT NULL,
	[banka_adi] [varchar](100) NOT NULL,
	[komisyon_kesinti_tutari] [int] NOT NULL,
	[iade_mi] [bit] NOT NULL,
	[iade_tarihi] [datetime] NOT NULL,
	[kayit_tarihi] [date] NOT NULL,
	[aciklama] [nvarchar](300) NOT NULL,
	[EkAlan_1] [nvarchar](100) NULL,
	[fatura_no] [nvarchar](50) NULL,
	[fatura_tarihi] [date] NULL,
	[kdv_orani] [decimal](5, 2) NULL,
	[kdv_tutari] [decimal](18, 2) NULL,
	[net_tutar] [decimal](18, 2) NULL,
	[muhasebe_kodu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[odeme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pazarlama_kampanya]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pazarlama_kampanya](
	[kampanya_id] [int] IDENTITY(1,1) NOT NULL,
	[kampanya_ad] [nvarchar](150) NOT NULL,
	[kampanya_tipi_id] [int] NOT NULL,
	[sorumlu_emlakci_id] [int] NOT NULL,
	[baslangic_tarihi] [datetime] NOT NULL,
	[bitis_tarihi] [datetime] NULL,
	[planlanan_butce] [decimal](18, 2) NOT NULL,
	[harcanan_butce] [decimal](18, 2) NOT NULL,
	[hedef_kitle_aciklamasi] [nvarchar](250) NULL,
	[kapsanan_bolge_id] [int] NOT NULL,
	[kullanilan_platform] [nvarchar](100) NOT NULL,
	[goruntulenme_sayisi] [int] NULL,
	[tıklanma_sayisi] [int] NULL,
	[olusturulan_potansiyel_musteri] [int] NOT NULL,
	[donusum_orani] [decimal](5, 4) NOT NULL,
	[elde_edilen_satis_miktari] [int] NOT NULL,
	[geri_donus_orani] [decimal](18, 2) NULL,
	[maliyet_basina_musteri] [decimal](18, 2) NULL,
	[analiz_notu] [nvarchar](500) NULL,
	[aktif] [bit] NOT NULL,
	[sosyal_medya_linki] [nvarchar](250) NULL,
	[reklam_gorseli_url] [nvarchar](250) NULL,
	[onay_durumu] [bit] NULL,
	[kupon_kodu] [varchar](20) NULL,
	[kampanya_hedef_ciro] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[kampanya_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[piyasa_analiz_veri]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[piyasa_analiz_veri](
	[veri_id] [int] IDENTITY(1,1) NOT NULL,
	[toplama_tarihi] [datetime] NOT NULL,
	[bolge_id] [int] NOT NULL,
	[kaynak_tipi_id] [int] NOT NULL,
	[mulk_tipi_id] [int] NOT NULL,
	[oda_sayisi] [nvarchar](20) NULL,
	[min_metre_kare] [int] NOT NULL,
	[max_metre_kare] [int] NULL,
	[ort_bina_yasi] [int] NULL,
	[ort_satis_fiyati] [int] NULL,
	[ort_kira_fiyati] [int] NULL,
	[fiyatlandirma_medyani] [int] NOT NULL,
	[fiyat_degisim_orani] [int] NOT NULL,
	[max_pazar_fiyati] [int] NULL,
	[ort_bekleyis_suresi] [int] NULL,
	[ilan_adedi] [int] NOT NULL,
	[metrekare_birim_fiyat] [int] NOT NULL,
	[yillik_deger_artisi_tahmin] [int] NULL,
	[analiz_yorumu] [nvarchar](500) NULL,
	[toplayan_kullanici_id] [int] NULL,
	[veri_guvenilirlik_puani] [int] NULL,
	[kaynak_site] [nvarchar](50) NULL,
	[rakip_analizi_notu] [nvarchar](200) NULL,
	[yatirim_firsati_mi] [bit] NULL,
	[amortisman_suresi_yil] [decimal](5, 2) NULL,
	[rapor_pdf_link] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[veri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[randevu]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[randevu](
	[randevu_id] [int] IDENTITY(1,1) NOT NULL,
	[ilan_id] [int] NOT NULL,
	[musteri_id] [int] NOT NULL,
	[emlakci_id] [int] NOT NULL,
	[randevu_tarihi] [date] NOT NULL,
	[randevu_saati] [time](7) NOT NULL,
	[randevu_durumu] [varchar](20) NOT NULL,
	[olusturma_tarihi] [datetime] NOT NULL,
	[guncelleme_tarihi] [datetime] NOT NULL,
	[musteri_notu] [nvarchar](300) NOT NULL,
	[emlakci_notu] [nvarchar](300) NOT NULL,
	[konum_adresi] [nvarchar](200) NOT NULL,
	[harita_linki] [varchar](255) NOT NULL,
	[hatirlatma_gonderildi_mi] [bit] NOT NULL,
	[hatirlatma_tarihi] [datetime] NOT NULL,
	[sure_dakika] [int] NOT NULL,
	[katilim_durumu] [varchar](20) NOT NULL,
	[iptal_sebebi] [nvarchar](200) NULL,
	[puanlama] [decimal](3, 2) NULL,
	[aciklama] [nvarchar](300) NULL,
	[arac_lazim_mi] [bit] NULL,
	[ofisten_cikis_saati] [time](7) NULL,
	[ofise_donus_saati] [time](7) NULL,
	[musteri_geldi_mi] [bit] NULL,
	[takip_aramasi_yapildi_mi] [bit] NULL,
	[google_calendar_id] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[randevu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[satis_kiralama_islem]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satis_kiralama_islem](
	[islem_id] [int] IDENTITY(1,1) NOT NULL,
	[ilan_id] [int] NOT NULL,
	[alici_id] [int] NOT NULL,
	[islem_tipi] [nvarchar](10) NOT NULL,
	[islem_tarihi] [date] NOT NULL,
	[islem_tutarı] [decimal](15, 2) NOT NULL,
	[komisyon_oranı] [decimal](5, 2) NULL,
	[komisyon_tutari] [decimal](15, 2) NULL,
	[odeme_tipi] [nvarchar](20) NULL,
	[taksit_sayisi] [int] NULL,
	[odeme_durumu] [nvarchar](20) NULL,
	[sozlesme_no] [nvarchar](50) NULL,
	[sozlesme_baslangic] [date] NULL,
	[sozlesme_bitis] [date] NULL,
	[iptal_mi] [bit] NULL,
	[iptal_tarihi] [date] NULL,
	[aciklama] [nvarchar](500) NULL,
	[olusturan_kullanici_id] [int] NULL,
	[kayit_tarihi] [date] NOT NULL,
	[EkAlan_1] [nvarchar](100) NULL,
	[tapu_devir_tarihi] [date] NULL,
	[tapu_no] [nvarchar](50) NULL,
	[ada_parsel] [nvarchar](50) NULL,
	[belediye_rayic_bedeli] [decimal](18, 2) NULL,
	[kredi_kullanildi_mi] [bit] NULL,
	[banka_adi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[islem_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sozlesme]    Script Date: 7.12.2025 05:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sozlesme](
	[sozlesme_id] [int] IDENTITY(1,1) NOT NULL,
	[islem_id] [int] NOT NULL,
	[musteri_id] [int] NOT NULL,
	[emlakci_id] [int] NOT NULL,
	[sozlesme_no] [varchar](50) NOT NULL,
	[sozlesme_turu] [varchar](20) NOT NULL,
	[baslangic_tarihi] [date] NOT NULL,
	[bitis_tarihi] [date] NULL,
	[sozlesme_durumu] [varchar](20) NOT NULL,
	[sozlesme_pdf_url] [varchar](255) NULL,
	[alici_ad] [nvarchar](100) NOT NULL,
	[alici_tel_no] [varchar](11) NOT NULL,
	[alici_tc] [varchar](11) NOT NULL,
	[satici_ad] [nvarchar](100) NOT NULL,
	[satici_tel_no] [varchar](11) NOT NULL,
	[satici_tc] [varchar](11) NOT NULL,
	[imza_tarihi] [date] NOT NULL,
	[komisyon_orani] [int] NOT NULL,
	[satis_bedeli] [bigint] NOT NULL,
	[toplam_tutar] [bigint] NOT NULL,
	[odeme_plani] [nvarchar](200) NULL,
	[aciklama] [nvarchar](300) NULL,
	[olusturma_tarihi] [date] NULL,
	[noter_onayi] [bit] NULL,
	[noter_no] [nvarchar](50) NULL,
	[kefil_ad_soyad] [nvarchar](100) NULL,
	[kefil_tc] [varchar](11) NULL,
	[iptal_tarihi] [date] NULL,
	[iptal_nedeni] [nvarchar](200) NULL,
	[imza_sirkusu_url] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[sozlesme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bolge_altyapi_imar] ADD  DEFAULT ((0)) FOR [sel_riski_var_mi]
GO
ALTER TABLE [dbo].[bolge_altyapi_imar] ADD  DEFAULT ((1)) FOR [dogalgaz_erisimi]
GO
ALTER TABLE [dbo].[bolge_altyapi_imar] ADD  DEFAULT ((1)) FOR [internet_erisimi]
GO
ALTER TABLE [dbo].[bolge_altyapi_imar] ADD  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[bolge_altyapi_imar] ADD  DEFAULT ((1)) FOR [sokak_aydinlatmasi]
GO
ALTER TABLE [dbo].[emlak_ofisi] ADD  DEFAULT ((1)) FOR [aktif_mi]
GO
ALTER TABLE [dbo].[emlak_ofisi] ADD  DEFAULT ((0)) FOR [toplam_portfoy]
GO
ALTER TABLE [dbo].[emlak_ofisi] ADD  DEFAULT ((0)) FOR [satis_adeti_yillik]
GO
ALTER TABLE [dbo].[emlak_ofisi] ADD  DEFAULT ((0)) FOR [kiralama_adeti_yillik]
GO
ALTER TABLE [dbo].[emlak_ofisi] ADD  DEFAULT (getdate()) FOR [olusturma_tarihi]
GO
ALTER TABLE [dbo].[emlak_ofisi] ADD  DEFAULT ((0)) FOR [silindi_mi]
GO
ALTER TABLE [dbo].[emlakci] ADD  DEFAULT ((15)) FOR [ort_satis_suresi]
GO
ALTER TABLE [dbo].[emlakci] ADD  DEFAULT (getdate()) FOR [kayit_tarihi]
GO
ALTER TABLE [dbo].[hukuki_belge] ADD  DEFAULT ((1)) FOR [aktif_mi]
GO
ALTER TABLE [dbo].[hukuki_belge] ADD  DEFAULT ((0)) FOR [noter_tasdikli_mi]
GO
ALTER TABLE [dbo].[hukuki_belge] ADD  DEFAULT ((1)) FOR [erisim_seviyesi]
GO
ALTER TABLE [dbo].[ilan] ADD  DEFAULT (getdate()) FOR [eklenme_tarihi]
GO
ALTER TABLE [dbo].[ilan] ADD  CONSTRAINT [DF_Ilan_Satilik]  DEFAULT ((1)) FOR [satilik_mi]
GO
ALTER TABLE [dbo].[ilan] ADD  DEFAULT ((0)) FOR [goruntulenme_sayisi]
GO
ALTER TABLE [dbo].[ilan] ADD  DEFAULT ((0)) FOR [favori_sayisi]
GO
ALTER TABLE [dbo].[ilan] ADD  DEFAULT ((0)) FOR [vitrin_durumu]
GO
ALTER TABLE [dbo].[ilan_fotograf] ADD  DEFAULT ((0)) FOR [duzenleme_yapildi_mi]
GO
ALTER TABLE [dbo].[ilan_satilik_arsiv] ADD  DEFAULT (getdate()) FOR [arsivlenme_tarihi]
GO
ALTER TABLE [dbo].[komisyon_kayit] ADD  DEFAULT ('try') FOR [para_birimi]
GO
ALTER TABLE [dbo].[komisyon_kayit] ADD  DEFAULT ((0)) FOR [prim_hesaplamasi]
GO
ALTER TABLE [dbo].[mesaj_soru] ADD  DEFAULT ('MÜSTERİ') FOR [gonderen_tipi]
GO
ALTER TABLE [dbo].[mesaj_soru] ADD  DEFAULT ('İOS') FOR [cihaz_tipi]
GO
ALTER TABLE [dbo].[mesaj_soru] ADD  DEFAULT ('aktif') FOR [durum]
GO
ALTER TABLE [dbo].[mesaj_soru] ADD  DEFAULT ((0)) FOR [spam_mi]
GO
ALTER TABLE [dbo].[mesaj_soru] ADD  DEFAULT ((0)) FOR [otomatik_cevap_mi]
GO
ALTER TABLE [dbo].[mesaj_soru] ADD  DEFAULT ('TR') FOR [dil]
GO
ALTER TABLE [dbo].[mulk_bakim_tadilat] ADD  DEFAULT ((0)) FOR [tekrar_bakim_gerekir_mi]
GO
ALTER TABLE [dbo].[mulk_sahibi] ADD  DEFAULT (getdate()) FOR [kayit_tarihi]
GO
ALTER TABLE [dbo].[mulk_sahibi] ADD  DEFAULT ((0)) FOR [vekalet_var_mi]
GO
ALTER TABLE [dbo].[mulk_sahibi] ADD  DEFAULT ((0)) FOR [yurtdisi_ikamet]
GO
ALTER TABLE [dbo].[musteri] ADD  DEFAULT (getdate()) FOR [kayit_tarihi]
GO
ALTER TABLE [dbo].[musteri] ADD  DEFAULT ((0)) FOR [kvkk_onayi]
GO
ALTER TABLE [dbo].[musteri] ADD  DEFAULT ((0)) FOR [sms_izin]
GO
ALTER TABLE [dbo].[musteri] ADD  DEFAULT ((0)) FOR [mail_izin]
GO
ALTER TABLE [dbo].[pazarlama_kampanya] ADD  DEFAULT ((0)) FOR [onay_durumu]
GO
ALTER TABLE [dbo].[piyasa_analiz_veri] ADD  DEFAULT ((0)) FOR [yatirim_firsati_mi]
GO
ALTER TABLE [dbo].[randevu] ADD  DEFAULT ((0)) FOR [arac_lazim_mi]
GO
ALTER TABLE [dbo].[randevu] ADD  DEFAULT ((0)) FOR [musteri_geldi_mi]
GO
ALTER TABLE [dbo].[randevu] ADD  DEFAULT ((0)) FOR [takip_aramasi_yapildi_mi]
GO
ALTER TABLE [dbo].[satis_kiralama_islem] ADD  DEFAULT ((0)) FOR [kredi_kullanildi_mi]
GO
ALTER TABLE [dbo].[sozlesme] ADD  DEFAULT ((0)) FOR [noter_onayi]
GO
ALTER TABLE [dbo].[emlakci]  WITH CHECK ADD  CONSTRAINT [FK_Emlakci_Ofis] FOREIGN KEY([ofis_id])
REFERENCES [dbo].[emlak_ofisi] ([ofis_id])
GO
ALTER TABLE [dbo].[emlakci] CHECK CONSTRAINT [FK_Emlakci_Ofis]
GO
ALTER TABLE [dbo].[favori_ilan]  WITH CHECK ADD  CONSTRAINT [FK_Favori_Ilan] FOREIGN KEY([ilan_id])
REFERENCES [dbo].[ilan] ([ilan_id])
GO
ALTER TABLE [dbo].[favori_ilan] CHECK CONSTRAINT [FK_Favori_Ilan]
GO
ALTER TABLE [dbo].[favori_ilan]  WITH CHECK ADD  CONSTRAINT [FK_Favori_Musteri] FOREIGN KEY([musteri_id])
REFERENCES [dbo].[musteri] ([müsteri_id])
GO
ALTER TABLE [dbo].[favori_ilan] CHECK CONSTRAINT [FK_Favori_Musteri]
GO
ALTER TABLE [dbo].[hukuki_belge]  WITH CHECK ADD  CONSTRAINT [FK_HukukiBelge_Ilan] FOREIGN KEY([mulk_id])
REFERENCES [dbo].[ilan] ([ilan_id])
GO
ALTER TABLE [dbo].[hukuki_belge] CHECK CONSTRAINT [FK_HukukiBelge_Ilan]
GO
ALTER TABLE [dbo].[ilan]  WITH CHECK ADD  CONSTRAINT [FK_Ilan_MulkSahibi] FOREIGN KEY([satici_id])
REFERENCES [dbo].[mulk_sahibi] ([mülk_sahibi_id])
GO
ALTER TABLE [dbo].[ilan] CHECK CONSTRAINT [FK_Ilan_MulkSahibi]
GO
ALTER TABLE [dbo].[ilan_fotograf]  WITH CHECK ADD  CONSTRAINT [FK_Foto_Ilan] FOREIGN KEY([ilan_id])
REFERENCES [dbo].[ilan] ([ilan_id])
GO
ALTER TABLE [dbo].[ilan_fotograf] CHECK CONSTRAINT [FK_Foto_Ilan]
GO
ALTER TABLE [dbo].[ilan_konum]  WITH CHECK ADD  CONSTRAINT [FK_Konum_Ilan] FOREIGN KEY([cografi_id])
REFERENCES [dbo].[ilan] ([ilan_id])
GO
ALTER TABLE [dbo].[ilan_konum] CHECK CONSTRAINT [FK_Konum_Ilan]
GO
ALTER TABLE [dbo].[ilan_ozellik]  WITH CHECK ADD  CONSTRAINT [FK_Ozellik_Ilan] FOREIGN KEY([ilan_id])
REFERENCES [dbo].[ilan] ([ilan_id])
GO
ALTER TABLE [dbo].[ilan_ozellik] CHECK CONSTRAINT [FK_Ozellik_Ilan]
GO
ALTER TABLE [dbo].[komisyon_kayit]  WITH CHECK ADD  CONSTRAINT [FK_Komisyon_Emlakci] FOREIGN KEY([emlakci_id])
REFERENCES [dbo].[emlakci] ([emlakci_id])
GO
ALTER TABLE [dbo].[komisyon_kayit] CHECK CONSTRAINT [FK_Komisyon_Emlakci]
GO
ALTER TABLE [dbo].[komisyon_kayit]  WITH CHECK ADD  CONSTRAINT [FK_Komisyon_Islem] FOREIGN KEY([islem_id])
REFERENCES [dbo].[satis_kiralama_islem] ([islem_id])
GO
ALTER TABLE [dbo].[komisyon_kayit] CHECK CONSTRAINT [FK_Komisyon_Islem]
GO
ALTER TABLE [dbo].[mesaj_soru]  WITH CHECK ADD  CONSTRAINT [FK_Mesaj_Ilan] FOREIGN KEY([ilan_id])
REFERENCES [dbo].[ilan] ([ilan_id])
GO
ALTER TABLE [dbo].[mesaj_soru] CHECK CONSTRAINT [FK_Mesaj_Ilan]
GO
ALTER TABLE [dbo].[mesaj_soru]  WITH CHECK ADD  CONSTRAINT [FK_Mesaj_Musteri] FOREIGN KEY([musteri_id])
REFERENCES [dbo].[musteri] ([müsteri_id])
GO
ALTER TABLE [dbo].[mesaj_soru] CHECK CONSTRAINT [FK_Mesaj_Musteri]
GO
ALTER TABLE [dbo].[mulk_bakim_tadilat]  WITH CHECK ADD  CONSTRAINT [FK_Bakim_Emlakci] FOREIGN KEY([sorumlu_emlakci_id])
REFERENCES [dbo].[emlakci] ([emlakci_id])
GO
ALTER TABLE [dbo].[mulk_bakim_tadilat] CHECK CONSTRAINT [FK_Bakim_Emlakci]
GO
ALTER TABLE [dbo].[mulk_bakim_tadilat]  WITH CHECK ADD  CONSTRAINT [FK_Bakim_Ilan] FOREIGN KEY([mulk_id])
REFERENCES [dbo].[ilan] ([ilan_id])
GO
ALTER TABLE [dbo].[mulk_bakim_tadilat] CHECK CONSTRAINT [FK_Bakim_Ilan]
GO
ALTER TABLE [dbo].[odeme]  WITH CHECK ADD  CONSTRAINT [FK_Odeme_Emlakci] FOREIGN KEY([emlakci_id])
REFERENCES [dbo].[emlakci] ([emlakci_id])
GO
ALTER TABLE [dbo].[odeme] CHECK CONSTRAINT [FK_Odeme_Emlakci]
GO
ALTER TABLE [dbo].[odeme]  WITH CHECK ADD  CONSTRAINT [FK_Odeme_Islem] FOREIGN KEY([islem_id])
REFERENCES [dbo].[satis_kiralama_islem] ([islem_id])
GO
ALTER TABLE [dbo].[odeme] CHECK CONSTRAINT [FK_Odeme_Islem]
GO
ALTER TABLE [dbo].[odeme]  WITH CHECK ADD  CONSTRAINT [FK_Odeme_Musteri] FOREIGN KEY([musteri_id])
REFERENCES [dbo].[musteri] ([müsteri_id])
GO
ALTER TABLE [dbo].[odeme] CHECK CONSTRAINT [FK_Odeme_Musteri]
GO
ALTER TABLE [dbo].[pazarlama_kampanya]  WITH CHECK ADD  CONSTRAINT [FK_Kampanya_Emlakci] FOREIGN KEY([sorumlu_emlakci_id])
REFERENCES [dbo].[emlakci] ([emlakci_id])
GO
ALTER TABLE [dbo].[pazarlama_kampanya] CHECK CONSTRAINT [FK_Kampanya_Emlakci]
GO
ALTER TABLE [dbo].[randevu]  WITH CHECK ADD  CONSTRAINT [FK_Randevu_Emlakci] FOREIGN KEY([emlakci_id])
REFERENCES [dbo].[emlakci] ([emlakci_id])
GO
ALTER TABLE [dbo].[randevu] CHECK CONSTRAINT [FK_Randevu_Emlakci]
GO
ALTER TABLE [dbo].[randevu]  WITH CHECK ADD  CONSTRAINT [FK_Randevu_Ilan] FOREIGN KEY([ilan_id])
REFERENCES [dbo].[ilan] ([ilan_id])
GO
ALTER TABLE [dbo].[randevu] CHECK CONSTRAINT [FK_Randevu_Ilan]
GO
ALTER TABLE [dbo].[randevu]  WITH CHECK ADD  CONSTRAINT [FK_Randevu_Musteri] FOREIGN KEY([musteri_id])
REFERENCES [dbo].[musteri] ([müsteri_id])
GO
ALTER TABLE [dbo].[randevu] CHECK CONSTRAINT [FK_Randevu_Musteri]
GO
ALTER TABLE [dbo].[satis_kiralama_islem]  WITH CHECK ADD  CONSTRAINT [FK_Islem_Ilan] FOREIGN KEY([ilan_id])
REFERENCES [dbo].[ilan] ([ilan_id])
GO
ALTER TABLE [dbo].[satis_kiralama_islem] CHECK CONSTRAINT [FK_Islem_Ilan]
GO
ALTER TABLE [dbo].[satis_kiralama_islem]  WITH CHECK ADD  CONSTRAINT [FK_Islem_Musteri] FOREIGN KEY([alici_id])
REFERENCES [dbo].[musteri] ([müsteri_id])
GO
ALTER TABLE [dbo].[satis_kiralama_islem] CHECK CONSTRAINT [FK_Islem_Musteri]
GO
ALTER TABLE [dbo].[sozlesme]  WITH CHECK ADD  CONSTRAINT [FK_Sozlesme_Emlakci] FOREIGN KEY([emlakci_id])
REFERENCES [dbo].[emlakci] ([emlakci_id])
GO
ALTER TABLE [dbo].[sozlesme] CHECK CONSTRAINT [FK_Sozlesme_Emlakci]
GO
ALTER TABLE [dbo].[sozlesme]  WITH CHECK ADD  CONSTRAINT [FK_Sozlesme_Musteri] FOREIGN KEY([musteri_id])
REFERENCES [dbo].[musteri] ([müsteri_id])
GO
ALTER TABLE [dbo].[sozlesme] CHECK CONSTRAINT [FK_Sozlesme_Musteri]
GO
ALTER TABLE [dbo].[emlakci]  WITH CHECK ADD  CONSTRAINT [CK_Emlakci_Komisyon] CHECK  (([komisyon_orani]>=(0) AND [komisyon_orani]<=(100)))
GO
ALTER TABLE [dbo].[emlakci] CHECK CONSTRAINT [CK_Emlakci_Komisyon]
GO
ALTER TABLE [dbo].[ilan]  WITH CHECK ADD  CONSTRAINT [CK_Ilan_Fiyat_Pozitif] CHECK  (([fiyat]>(0)))
GO
ALTER TABLE [dbo].[ilan] CHECK CONSTRAINT [CK_Ilan_Fiyat_Pozitif]
GO
ALTER TABLE [dbo].[ilan]  WITH CHECK ADD  CONSTRAINT [CK_Ilan_Metrekare] CHECK  (([metrekare]>(0)))
GO
ALTER TABLE [dbo].[ilan] CHECK CONSTRAINT [CK_Ilan_Metrekare]
GO
ALTER TABLE [dbo].[mulk_sahibi]  WITH CHECK ADD  CONSTRAINT [CK_MulkSahibi_Puan] CHECK  (([puanlama]>=(0) AND [puanlama]<=(10)))
GO
ALTER TABLE [dbo].[mulk_sahibi] CHECK CONSTRAINT [CK_MulkSahibi_Puan]
GO
ALTER TABLE [dbo].[musteri]  WITH CHECK ADD  CONSTRAINT [CK_Musteri_TC] CHECK  ((len([tc_kimlik_no])=(11)))
GO
ALTER TABLE [dbo].[musteri] CHECK CONSTRAINT [CK_Musteri_TC]
GO
